<div class="container" style="background: #eeebdd;">
  <div class="text-center mb-5"><br>
    <h1><span class="fw-bold" style="color: #990000;">{{titulo}}</span></h1>
  </div>
  <div>

    <button routerLink='/empleados' type="button" name="volver" class="btn text-white btn-sm mb-3" style="background: #990000;">
      <i class="bi bi-caret-left-fill"></i>
      Volver
    </button>

    <form #formEmpleado="ngForm">

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="fw-bold">Usuario</label>
            <input type="text" class="form-control border border-dark" placeholder="Nombre de usuario" [(ngModel)]="empleado.usuario" name="usuario" #usuario=ngModel required minlength="4">
            <div class="alert alert-danger" *ngIf="usuario.invalid && (usuario.dirty || usuario.touched)">
              <div *ngIf="!usuario.valid ">
                Usuario requerido y debe tener más de 4 letras
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="fw-bold">Contraseña</label>
            <input type="password" class="form-control border border-dark" placeholder="Contraseña" [(ngModel)]="empleado.password" name="password" #password=ngModel required>
            <div class="alert alert-danger" *ngIf="password.invalid && (password.dirty || password.touched)">
              <div *ngIf="!password.valid ">
                Contraseña requerida
              </div>
            </div>
          </div>
        </div>
      </div><br>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="fw-bold">Nombre</label>
            <input type="text" class="form-control border border-dark" placeholder="Nombre de empleado" [(ngModel)]="empleado.nombre" name="nombre" #nombre=ngModel required>
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <div *ngIf="!nombre.valid ">
                Nombre requerido
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="fw-bold">Apellido</label>
            <input type="text" class="form-control border border-dark" placeholder="Apellido de empleado" [(ngModel)]="empleado.apellido" name="apellido" #apellido=ngModel>
          </div>
        </div>
      </div><br>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="fw-bold">Email</label>
            <input type="email" class="form-control border border-dark" placeholder="Email de contacto" [(ngModel)]="empleado.email" name="email" #email=ngModel required email>
            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
              <div *ngIf="email.errors && email.errors.required">
                Email requerido
              </div>
              <div *ngIf="email.errors.email">
                El email debe tener un formato válido
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="fw-bold">Salario</label>
            <input type="number" class="form-control border border-dark" placeholder="Salario mensual" [(ngModel)]="empleado.salario" name="salario" #salario=ngModel required>
            <div class="alert alert-danger" *ngIf="salario.invalid && (salario.dirty || salario.touched)">
              <div *ngIf="!salario.valid ">
                Salario requerido
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <button class="btn mt-5 text-white fw-bold" style="background: #1b1717; width: 120px;" type="submit" (click)= "create()" *ngIf="!empleado.id else elseBlock" [disabled]="!formEmpleado.form.valid">Crear</button>
        <ng-template #elseBlock>  <button class="btn mt-5 text-white fw-bold" role="button" style="background: #1b1717; width: 120px;" type="submit" (click)= "update()" [disabled]="!formEmpleado.form.valid">Update</button></ng-template>
      </div>
    </form>

  </div>
</div>
