<div class="container contenedor" *ngIf="isLogged; else loggedOut">
  <div class="row">
    <div class="col">
      <div class="card mb-5 mt-5">
        <div class="card-body fondoRojo">
          <a class="rounded" routerLink="/empleados"><img class="img w-75 h-75" src="..\..\assets\img\people-fill.svg" alt=""></a>
        </div>
        <div class="card-header text-white text-center fondoNegro">Empleados</div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-5 mt-5">
        <div class="card-body fondoRojo">
          <a class="rounded" routerLink="/productos"><img class="w-75 h-75" src="..\..\assets\img\cart4.svg" alt=""></a>
        </div>
        <div class="card-header text-white text-center fondoNegro">Productos</div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-5 mt-5">
        <div class="card-body fondoRojo">
          <a class="rounded" routerLink="" (click)="onLogOut()"><img class="w-75 h-75" src="..\..\assets\img\box-arrow-right.svg" alt=""></a>
        </div>
        <div class="card-header text-white text-center fondoNegro">Cerrar sesión</div>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut>
  <div class="text-center mt-5">
    <h1><span class="text-danger fw-bold">No has iniciado sesión</span></h1>
  </div>
</ng-template>
