<div class="container"><br>
  <div class="text-center mb-3">
    <h1><span class="text-danger" style="font-weight: bold;">Inicio de Sesión</span></h1>
  </div>
  <form>

    <div class="row">
      <div class="col mt-5 me-5">
        <div class="form-group">
          <label style="font-weight: bold;">Usuario</label>
          <input type="text" class="form-control" placeholder="Escriba su nombre de usuario">
        </div>
        <br>
        <div class="form-group">
          <label style="font-weight: bold;">Contraseña</label>
          <input type="password" class="form-control" placeholder="Escriba su contraseña">
        </div>
        <br>
        <button type="submit" class="btn text-white" style="background: #1b1717; font-weight: bold;">Entrar</button>
        <br><br>
        <a>Para acceder al uso de la aplicación usted debe trabajar aquí. Si es así y aún no tiene cuenta comuníqueselo a su jefe.</a>
      </div>
      <div class="col ms-5 mb-5">
        <a><img class="img" src="..\..\assets\img\cubiertos.jpg" alt=""></a>
      </div>
    </div>

  </form>
</div>
