<div class="container" style="background: #eeebdd;">
  <div class="row">
    <div class="col">
      <div class="card mb-5 mt-5">
        <div class="card-body bg-danger bg-gradient">
          <a class="rounded" routerLink="/empleados"><img class="img w-75 h-75" src="..\..\assets\img\people-fill.svg" alt=""></a>
        </div>
        <div class="card-header text-white text-center" style="background: #1b1717;">Empleados</div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-5 mt-5">
        <div class="card-body bg-danger bg-gradient">
          <a class="rounded" routerLink="/productos"><img class="w-75 h-75" src="..\..\assets\img\cart4.svg" alt=""></a>
        </div>
        <div class="card-header text-white text-center" style="background: #1b1717;">Productos</div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-5 mt-5">
        <div class="card-body bg-danger bg-gradient">
          <a class="rounded" routerLink="" (click)="logout()"><img class="w-75 h-75" src="..\..\assets\img\box-arrow-right.svg" alt=""></a>
        </div>
        <div class="card-header text-white text-center" style="background: #1b1717;">Cerrar sesión</div>
      </div>
    </div>
  </div>
</div>
