<div class="container contenedor">
  <div class="text-center mb-5"><br>
    <h1><span class="fw-bold letraRoja">{{titulo}}</span></h1>
  </div>
  <div>

    <button routerLink='/productos' type="button" name="volver" class="btn text-white btn-sm mb-3 fondoRojo">
      <i class="bi bi-caret-left-fill"></i>
      Volver
    </button>

    <form #formProducto="ngForm">

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="fw-bold">Nombre</label>
            <input type="text" class="form-control border border-dark" placeholder="Nombre de producto" [(ngModel)]="producto.nombre" name="nombre" #nombre=ngModel required>
            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
              <div class="" *ngIf="!nombre.valid ">
                Nombre requerido
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label class="fw-bold">Precio</label>
            <input type="number" class="form-control border border-dark" placeholder="Precio de producto" [(ngModel)]="producto.precio" name="precio" #precio=ngModel required>
            <div class="alert alert-danger" *ngIf="precio.invalid && (precio.dirty || precio.touched)">
              <div class="" *ngIf="!precio.valid ">
                Precio requerido
              </div>
            </div>
          </div>
        </div>
      </div><br>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label class="fw-bold">Stock</label>
            <input type="number" class="form-control border border-dark" placeholder="Cantidad del producto" [(ngModel)]="producto.stock" name="stock" #stock=ngModel required>
            <div class="alert alert-danger" *ngIf="stock.invalid && (stock.dirty || stock.touched)">
              <div class="" *ngIf="!stock.valid ">
                Stock requerido
              </div>
            </div>
          </div>
        </div>
        <div class="col ms-1">
          <label class="fw-bold">Tipo de Producto</label><br>
          <div class="form-control bg-transparent" style="border:1px solid transparent ">
            <label class="radio-inline">
              <input class="form-check-input fondoRojo border-dark" type="radio" value="comida" name="tipo" [(ngModel)]="producto.tipo"> Comida
            </label>
            <label class="radio-inline">
              <input class="form-check-input fondoRojo border-dark ms-2" type="radio" value="bebida" name="tipo" [(ngModel)]="producto.tipo"> Bebida
            </label>
          </div>
        </div>
      </div><br>

      <div class="row">
        <div class="col">
          <label class="fw-bold">¿El producto lleva alcohol?</label><br>
          <div class="form-check">
            <input class="form-check-input fondoRojo border-dark" type="checkbox" id="alcohol" [(ngModel)]="producto.alcohol" name="alcohol" #alcohol=ngModel>
            <label class="form-check-label" for="alcohol">
              Alcohol
            </label>
          </div>
        </div>
      </div>

      <div class="form-group text-center">
        <button class="btn mt-5 text-white fw-bold btnSubmit" type="submit" (click)= "create()" *ngIf="!producto.id else elseBlock" [disabled]="!formProducto.form.valid">Crear</button>
        <ng-template #elseBlock>  <button class="btn mt-5 text-white fw-bold btnSubmit" role="button" type="submit" (click)= "update()" [disabled]="!formProducto.form.valid">Update</button></ng-template>
      </div>
    </form>

  </div>
</div>
