<div class="card mt-3 contenedor">
  <div class="card-header">
    <h3 class="card-title letraRoja">Listado de mesas</h3>
  </div>
  <div class="card-body">
<div *ngIf="mesas?.length==0" class="alert alert-danger">
  No hay mesas creadas
</div>
    <table class="table table-bordered table-striped mt-3" *ngIf="mesas?.length > 0">
      <thead>

        <tr>
          <th>Fecha de creación</th>
          <th>Número de mesa</th>
          <th>Importe</th>
          <th>Detalle</th>
        </tr>

      </thead>
      <tbody>

        <tr *ngFor="let mesa of mesas">
          <td>{{mesa.fecha}}</td>
          <td>{{mesa.id}}</td>
          <td>{{mesa.total}}€</td>
          <td>
            <button type="button" name="ver" class="btn btn-sm text-white fondoRojo" [routerLink]="['/mesas', mesa.id]">
              <i class="bi bi-eye-fill"></i>
              Ver
            </button>
          </td>
        </tr>
      </tbody>
      <button type="button" name="crear" class="btn btn-dark btn-sm mt-3" (click)= "create()">
        Crear
      </button>
    </table>
  </div>
</div>
